<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Cartão de Ponto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>Controle de Ponto</header>
    <main>
        <label for="mes">Selecione o mês: </label>
        <select id="mes">
            <option value="1">Janeiro</option>
            <option value="2">Fevereiro</option>
            <option value="3">Março</option>
            <option value="4" selected>Abril</option>
            <option value="5">Maio</option>
            <option value="6">Junho</option>
            <option value="7">Julho</option>
            <option value="8">Agosto</option>
            <option value="9">Setembro</option>
            <option value="10">Outubro</option>
            <option value="11">Novembro</option>
            <option value="12">Dezembro</option>
        </select>

        <table id="tabela-ponto"></table>

        <div class="resumo">
            <div>Histórico Banco de Horas: <span id="historico-horas">{{ horas_historico }}</span></div>
            <div>Total Banco de Horas Mês: <span id="bank-hours">00:00</span></div>
            <div>Total de Créditos: <span id="total-credit">00:00</span></div>
            <div>Total de Débitos: <span id="total-debit">00:00</span></div>
            <div>Total Acumulado: <span id="total-final">00:00</span></div>
        </div>
    </main>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
